extends ../layout

block content
    h1.
        Test ID #{test._id}
    form(action='/tests/#{test._id}/edit',method='post',name='updatetest',enctype='application/x-www-form-urlencoded')
        p Test name: 
            input#inputName(type='text', value='#{test.name}', name='name')
        p Owner:
            input#inputOwner(type='text', value='#{test.owner}', name='owner')
        p Questions:
            // this should likely be a multiselection from questions
            input#inputQuestions(type='text', value='#{test.questions}', name='questions')
        p 
            input(type='hidden',value='PUT',name='_method')
        p 
            button#btnSubmit(type='submit').
                Update
    p
    form(action='/tests/',method='get',enctype='application/x-www-form-urlencoded')
        button(type='submit').
            Back to all