extends ../layout

block content
    h1.
         #{title}
    ul
        if (user)
            - each invite in invites
                li
                    = invite.name
                    br
                    form(action='/users/#{user.id}/invitations/#{invite.id}/accept',method='post',enctype='application/x-www-form-urlencoded')
                        button(type='submit').
                            Accept
                    form(action='/users/#{user.id}/invitations/#{invite.id}/reject',method='post',enctype='application/x-www-form-urlencoded')
                        button(type='submit').
                            Reject
                    br
            br
            a(href='/')
                button.btn.btn-primary(type="button") Main page
        else
            p You must be logged in to manage invites
            a(href='/')
                button.btn.btn-primary(type="button") Login