extends ../layout

block content
    h1.
        Question id #{question.id}
    p Question text: #{question.qn}
    p Type text: #{question.type}
    p Categories: #{question.categories}
    p Levels: #{question.levels}
    p Answers: #{question.answers}
    p Answers options: #{question.answers_options}
    p Hints: #{question.hints}
    p Links to related lessons: #{question.links}
    p Date question added: #{question.date_added}
    p Date question last modified: #{question.date_modified}
    p Flags: #{question.flags}
    if (question.flags.indexOf('accepted'))
        form(action='/questions/#{question.id}/accept',method='post',name='acceptquestion',enctype='application/x-www-form-urlencoded')
            p 
                input(type='hidden',value='PUT',name='_method')
                button#btnSubmit(type='submit').
                    Accept
        p
        form(action='/questions/#{question.id}/reject',method='post',name='acceptquestion',enctype='application/x-www-form-urlencoded')
            p 
                input(type='hidden',value='PUT',name='_method')
                button#btnSubmit(type='submit').
                    Reject
    p
    form(action='/questions/',method='get',enctype='application/x-www-form-urlencoded')
        button(type='submit').
            Back to all